<ul class="list-inline">
    <li class="list-inline-item wow fadeIn" data-wow-duration="1s">
        Share:
    </li>
    <li class="list-inline-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
        <a class="popup-facebook" data-share-uri="{{baseUrl}}/{{htmlWebpackPlugin.options.filename}}" href="javascript:;">
            <i class="fab fa-facebook"></i>
        </a>
    </li>
    <li class="list-inline-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
        <a class="popup-center" href="https://twitter.com/intent/tweet?url={{baseUrl}}/{{htmlWebpackPlugin.options.filename}}&text={{metaOgTitle}}">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li class="list-inline-item wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
        <a class="popup-center" href="https://www.linkedin.com/shareArticle?mini=true&url={{baseUrl}}/{{htmlWebpackPlugin.options.filename}}&title={{metaOgTitle}}">
            <i class="fab fa-linkedin"></i>
        </a>
    </li>
    <li class="list-inline-item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">
        <a class="popup-center" href="https://web.skype.com/share?url={{baseUrl}}/{{htmlWebpackPlugin.options.filename}}&text={{metaOgTitle}}">
            <i class="fab fa-skype"></i>
        </a>
    </li>
    <li class="list-inline-item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.4s">
        <a class="popup-center" href="https://api.whatsapp.com/send?text={{metaOgTitle}}">
            <i class="fab fa-whatsapp"></i>
        </a>
    </li>
    <li class="list-inline-item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.4s">
        <a class="popup-center" href="https://telegram.me/share/url?url={{baseUrl}}/{{htmlWebpackPlugin.options.filename}}&text={{metaOgTitle}}">
            <i class="fab fa-telegram"></i>
        </a>
    </li>
</ul>
